body {
  background: #f4f6f9 !important;
  font-family: 'Inter', sans-serif !important;
}

button {
  background: #3498db !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 12px !important;
  border: none !important;
}